target/
project/target/
project/project/
.bloop/
.bsp/


.metals/
.bloop/
.bsp/
metals.sbt

.vscode/
.idea/

.DS_Store
Thumbs.db

data/

*.lock.db
*.log
*.mv.db

web-technologies-scraper/

target/
project/target/
project/project/
.bloop/
.bsp/

